<html><head></head><body><header>
  <div class="wrapper">
    <div class="container">
      <a class="mapswipe-logo" href="index.html">
        <img class="logo" src="../assets/img/svg/mapswipe-white.svg">
      </a>
      <div class="mobile-menu hidden">
        <div class="burger-menu">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <nav class="nav-menu" role="navigation">
        <div>
          <a class="navlink" href="get-involved.html" data-i18n="header.getInvolved">Zapojte se</a>
          <a class="navlink" href="data.html" data-i18n="header.data">Data</a>
          <a class="navlink" href="about.html" data-i18n="header.about">O nás</a>
        </div>
      </nav>
    </div>
  </div>
</header>
</body></html>