.page-data {
  .hero-container {
    background-image: url('/assets/img/hero/msf_mapping.jpg');
  }

  .one-half {
    .link {
      margin-top: 10px;
    }
  }
}

.emphasizedNumber {
    text-align: center;
    color: #5382B3;
    font-size: 3.5em;
    font-weight: 800;
    line-height: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.stats-title {
    text-align: center;
    margin-top: 10px;
    font-size: 1.4em;
    font-weight: 300;
    color: #797b7b;
}